<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="Kumaheika" name="author"><!-- 作者 -->
	<meta content="KUMAKOBO" name="og:site_name">
	<title><%= @title ? @title : "KumaKobo F2E Gogo!!" %></title>
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="slick/slick.css">
	<script src="//code.jquery.com/jquery-migrate-1.11.2.min.js"></script>
	<script type="text/javascript" src="slick/slick.js"></script>
	<!-- 上橫頁 -->
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="//unslider.com/unslider.js"></script>
	<script src="jq/unslider-set.js"></script>
	<!-- Top功能 -->
	<script src="jq/top.js"></script>
	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<!-- <div class="container">
		純粹 Susy 設定@@@@
		<div class="box1">Yamy</div>
		<div class="box2"></div>
	</div> -->
	<div class="top"></div>
	<nav id="top-bar" class="nav-stly  gridStyle">
		<div class="nav-icon">>&#9776;</div>
		<div class="logo"><a href="#">Kumakobo</a></div>
		<ul class="navbar">
			<li><a href="about.html">About</a></li>
			<li><a href="#">Product</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	<!-- Slider show -->
	<div class="banner  banner-style">
		<%= render :partial => "banner" %>
	</div>

	<!-- 暫時用不到了 -->
	<!-- <header class="head-zone">
		<%= render :partial => "head_one" %>
	</header> -->

	<!-- 前端作品 -->
	<div class="main  gridStyle">
		<%= yield %>
	</div>
	<!-- 關於我 -->
	<div class="aboutMe  gridStyle">
		<%= render :partial => "aboutMe" %>
	</div>
	<!-- 設計作品 -->
	<div class="linkpage  gridStyle">
		<%= render :partial => "linkpage" %>
	</div>
	<!-- 頁尾資訊 -->
	<footer class="foot-page  gridStyle">
		<div class="foot-tetx">
			<p>Designed by Kumaheika</p>
		</div>
	</footer>
</body>
</html>