<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="Kumaheika" name="author">
	<meta content="KUMAKOBO" name="og:site_name">
	<title><%= @title ? @title : "HTML erb + susy2 + git 練習" %></title>
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="slick/slick.css">
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="slick/slick.js"></script>
	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<!-- <div class="container">
		純粹 Susy 設定@@@@
		<div class="box1">Yamy</div>
		<div class="box2"></div>
	</div> -->
	<nav class="nav-stly  gridStyle">
		<div class="nav-icon">>&#9776;</div>
		<div class="logo"><a href="#">Kumakobo</a></div>
		<ul class="navbar">
			<li><a href="about.html">About</a></li>
			<li><a href="#">Product</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	<header class="head-zone">
		<%= render :partial => "head_one" %>
	</header>
	<div class="main  gridStyle">
		<%= yield %>
	</div>
	<div class="aboutMe  gridStyle">
		<%= render :partial => "aboutMe" %>
	</div>
	<div class="linkpage  gridStyle">
		<%= render :partial => "linkpage" %>
	</div>
	<footer class="foot-page  gridStyle">
		<div class="foot-tetx">
			<p>Designed by Kumaheika</p>
		</div>
	</footer>
</body>
</html>