<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="Kumaheika" name="author"><!-- 作者 -->
	<meta content="KUMAKOBO" name="og:site_name">
	<title><%= @title ? @title : "KumaKobo F2E Gogo!!" %></title>
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="slick/slick.css">
	<script src="//code.jquery.com/jquery-migrate-1.11.2.min.js"></script>
	<!-- <script type="text/javascript" src="slick/slick.js"></script> -->
	<!-- 上橫頁 -->
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<!-- <script src="//unslider.com/unslider.js"></script>
	<script src="jq/unslider-set.js"></script> -->
	<script src="jq/jquery.colorbox.js"></script>
	<!-- Top功能 -->
	<script src="jq/top.js"></script>
	<!-- colorbox專用 -->
	<script>
		$(document).ready(function(){
			//Examples of how to assign the Colorbox event to elements
			$(".group1").colorbox({rel:'group1'});
			$(".ajax").colorbox();
			$(".iframe").colorbox({iframe:true, width:"60%", height:"80%"});
			$(".inline").colorbox({inline:true, width:"50%"});
			$(".callbacks").colorbox({
				onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			});

			$('.non-retina').colorbox({rel:'group5', transition:'none'})
			$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
			
			//Example of preserving a JavaScript event for inline calls.
			$("#click").click(function(){ 
				$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				return false;
			});
		});
	</script>
	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="top"></div>
	<nav id="top-bar" class="nav-stly  gridStyle">
		<div class="logo"><a href="#">Kumakobo</a></div>
		<div class="nav-icon">☰</div>
		<ul class="navbar">
			<li><a class="btn-aboutMe" href="#">About</a></li>
			<li><a class="btn-linkpage" href="#">Product</a></li>
			<li><a class="btn-about" href="#">Contact</a></li>
			<li><a class="btn-github" href="https://github.com/Kumaheika/Kumaheika.github.io">Github</a></li>
		</ul>
	</nav>

	<!-- 暫時用不到了 -->
	<!-- Slider show -->
	<!-- <div class="banner  banner-style">
		<%= render :partial => "banner" %>
	</div> -->
	<div class="head-zone">
		<%= render :partial => "head_one" %>
	</div>

	<!-- 前端作品 -->
	<div class="main  gridStyle">
		<%= yield %>
	</div>
	<!-- 關於我 -->
	<div class="aboutMe  gridStyle">
		<%= render :partial => "aboutMe" %>
	</div>
	<!-- 設計作品 -->
	<div class="linkpage  gridStyle">
		<%= render :partial => "linkpage" %>
	</div>
	<!-- 頁尾資訊 -->
	<footer class="foot-page  gridStyle">
		<div class="foot-tetx">
			<p>Designed by Kumaheika</p>
		</div>
	</footer>
</body>
</html>